<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Nabd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nabd</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Nabd would like to use your camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Nabd requires access to your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Nabd requires access to your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nabd requires access to your location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Nabd would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nabd would like access to your photo gallery</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>argon.ttf</string>
		<string>linearicons.ttf</string>
		<string>Manjari-Bold.ttf</string>
		<string>Manjari-Regular.ttf</string>
		<string>Manjari-Thin.ttf</string>
		<string>Tajawal-Black.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-ExtraBold.ttf</string>
		<string>Tajawal-ExtraLight.ttf</string>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Medium.ttf</string>
		<string>Tajawal-Regular.ttf</string>
		<string>flaticons.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>IstokWeb-Bold.ttf</string>
		<string>IstokWeb-BoldItalic.ttf</string>
		<string>IstokWeb-Italic.ttf</string>
		<string>IstokWeb-Regular.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-BoldItalic.ttf</string>
		<string>Cabin-Italic.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-MediumItalic.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
		<string>Cabin-SemiBoldItalic.ttf</string>
		<string>Dosis-Bold.ttf</string>
		<string>Dosis-ExtraBold.ttf</string>
		<string>Dosis-ExtraLight.ttf</string>
		<string>Dosis-Light.ttf</string>
		<string>Dosis-Medium.ttf</string>
		<string>Dosis-Regular.ttf</string>
		<string>Dosis-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
